<div class="blog-posts">
    {{#each posts}}
    <article class="card p-2">
        <h3>
            <a href="/post/{{id}}">{{title}}</a>
        </h3>
        <span class="posted-by">Posted by {{User.username}} on {{format_date createdAt}}</span>
        <div class="card-body">
            {{body}}
        </div>
    </article>
    {{/each}}
</div>